* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home-parent {
    /* margin: 0 auto;
    padding: 0; */
    background-color: #0f0f0f;
    height: 100vh;
}

.nav-list {
    color: white;
    list-style-type: none;
    padding: 38px 48px 48px 48px;
    display: flex;
    align-items: end;
    gap: 3rem;
    justify-content: flex-end;
    position: relative;
    cursor: pointer;
}

.search-bar {
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-title {
    /* color: #00FA9A;
    font-size: 3rem; */
    font-size: 3rem;
    position: absolute;
    display: flex;
    justify-content: start;
    background-image: linear-gradient(to right, #DC281E, #F00000);
    background-clip: text;
    color: transparent;
    margin-left: 48px;
    z-index: 100;
}

input {
    display: block;
}


#bull {

    background-image: linear-gradient(90deg, #00FA9A, #00965c) !important;
    background-clip: text !important;
    color: transparent !important;

}

#bear {

    background-image: linear-gradient(180deg, rgb(133, 0, 0), #ff0000) !important;
    background-clip: text !important;
    color: transparent !important;


}

.main-container {
    display: flex;
    /* padding: 0 7rem 0 4rem; */
    justify-content: space-around;


}


.stocks-list {
    display: flex;
    /* justify-content: center; */
    height: 50vh;
    width: 60vw;
    background-color: rgb(231, 231, 231);
    border-radius: 30px;
    color: black;
    float: left;
    box-shadow: 5px 5px 15px #818181;

}

.stock-nav {
    width: 25vw;
    height: 70vh;
    float: right;
    height: 50vh;
    background-color: rgb(36, 36, 36);
    border-radius: 30px;
    padding: 1rem;
    box-shadow: 5px 5px 15px #818181;
}

.search-box {
    padding-left: 4rem;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 3rem;
}

#stock-market {
    color: rgb(185, 185, 185);
}

.stock-box {
    color: black;
}


.search-bar {
    height: 30px;
    width: 20%;
    margin-left: 4px;
    padding-left: 4px;
    outline: 1px solid #00FA9A;
    border: none;
    background: transparent;
    box-shadow: 50px;
    color: white;
}

#search-label {
    color: #00FA9A;
    padding-left: 3rem;
}

#dollar {
    color: white !important;
}

p {
    color: rgb(255, 255, 255);
}

.search-btn {
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 2px;
    height: 30px;
    padding: 10px;
    margin-left: 10px;
    color: black;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-items: center;
}

.search-btn:hover {
    background-color: #00FA9A;
    opacity: .98;
    transform: scale(.99);
    box-shadow: 0px 0px 5px #00FA9A;
}