@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

.parent {
    padding: 0;
    background-color: rgb(17, 19, 34);
    height: 100vh;
    position: relative;
    min-height: 100vh;
}

.login-container {
    height: 80vh;
    width: 100%;
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    /* background-color: rgba(63, 85, 105, 0.445); */
    /* min-width: 400px; */
}

h1, h2, h5 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

h1 {
    font-size: 4rem;
}

h5 {
    color: white;
}

.login-form h2 {
    padding-bottom: 1rem;
    color: white;
    display: flex;
    justify-content: center;

}

.login-form {
    width: 28rem;
    padding: 5rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    height: 35rem;
    /* background-color: rgba(63, 85, 105, 0.445); */
}

.form-heading {
    /* margin-top: 2rem; */
    color: white;
    padding: 0 1rem 0 0;
}

.label-box1 {
    padding-top: 1rem;
    place-content: start;
    border-top: 1px solid #272b42;
    border-bottom: 1px solid #272b42;
}

.label-box2 {
    padding-top: 1rem;
    place-content: start;
    border-bottom: 1px solid #272b42;
}

.btn-container {
    display: flex;
    flex-direction: column;
    place-items: center;
}

.google-btn {
    margin-top: 2rem;
    width: 100%;
    height: 4em;
    padding: 1rem;
    font-weight: bold;
    place-content: center;
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
    border: none;
    border-radius: 10px;
    background-color: rgb(62, 178, 206);
    border: 1.5px solid rgb(0, 0, 0);
    box-shadow: 5px 5px 15px rgb(21, 56, 66);
    font-variant: uppercase;

    cursor: pointer;
}

.up-btn {
    margin-top: 2rem;
    width: 50%;
    height: 4em;
    place-content: center;
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
    justify-content: center;
    border: none;
    border-radius: 10px;
    /* border: 1px solid black; */
    outline: 1px solid black;
    box-shadow: 10px 10px 20px rgb(9, 10, 17);
    background-color: transparent;
    cursor: pointer;

}

.welcome-bullbear {
    /* position: absolute; */
    padding: 6rem 0 0 1rem;
    font-size: 1.2rem;
    color: white;
    display: flex;
    justify-content: start;
    flex-direction: column;
}

.google-btn:hover {

    transform: scale(0.99);
    background-color: rgb(52, 155, 180);

}

.up-btn:hover {

    transform: scale(0.99);
    box-shadow: 0 0 110px rgba(33, 33, 33, .2);
    background-color: rgb(13, 14, 26)
}

.input-email {
    height: 3rem;
    color: white;
    outline: none;
    border: none;
    background-color: transparent;
}

.input-pw {
    border: none;
    outline: none;
    height: 3rem;
    color: white;
    background-color: transparent;
}

.bullbear {
    position: absolute;
    color: #ffffff;
    letter-spacing: 1px;
    display: bloc;
    margin: 1rem;

    padding: 0;
    font-size: 2rem;
}


.bear {
    color: #ff0000;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
    font-size: 3rem;
}

span {
    color: #ffffff !important;
}