.class {
    /* background-color: #393e58; */
    background-color: rgb(33, 40, 65);
    height: 55%;
    width: 40%;
    min-width: 250px;
    min-height: 250px;
    margin: 10px;
    border-radius: 15px;
    font-size: .8rem;
    letter-spacing: .5px;

    /* display: grid; */

}

.class>* {
    flex: 1 1 150px;
}



.class:hover {
    /* transform: scale(.99); */
    box-shadow: 5px 5px 10px #595c80;
    /* box-shadow: 10px 10px 20px rgb(9, 10, 17); */

}

.stock-titles-p {
    color: black !important;
    font-size: bold;
}

.class-title p {
    color: #ffffff !important;
    display: flex;
    padding-left: .5rem;
    padding-top: 2px;
}

#ticker-title {
    color: rgb(62, 178, 206) !important;
    display: flex;
    place-content: center;

}

.card-titles {
    padding-right: 3px;
    color: rgb(189, 189, 189) !important;
    font-weight: bold;
}

.stock-info-p {
    padding-top: .5rem;
    padding-BOTTOM: .5rem;
}